<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Pokemon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="6" offsetLg="3" sizeMd="8" offsetMd="2" sizeSm="10" offsetSm="1">
        <ion-card *ngIf="pokemon" color="warning border-card">
          <ion-card-header>
            <ion-card-title class="ion-text-center pokemon-name">{{ pokemon.name }}</ion-card-title>
            <ion-card-subtitle class="ion-text-center pokemon-name">ID: #{{ this.pokemon.id }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="">
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <img src="{{this.pokemon.sprites.other.home.front_default}}" alt="pokemonImage">
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <ion-list class="pokemon-attributes">
                  <ion-item>
                    <ion-label>Peso:</ion-label>
                    <ion-note slot="end"class="custom-note" >{{ pokemon.weight }} kg </ion-note>
                  </ion-item>
                  <ion-item>
                    <ion-label>Altura:</ion-label>
                    <ion-note slot="end" class="custom-note" >{{ pokemon.height }}  cm</ion-note>
                  </ion-item>
                  <ion-item>
                    <ion-label>Experiencia base:</ion-label>
                    <ion-note slot="end" class="custom-note">{{ pokemon.base_experience }} XP</ion-note>
                  </ion-item>
                  <ion-item>
                    <ion-label>Tipo:</ion-label>
                    <ion-list>
                      <ion-item class="shape-icon" *ngFor="let type of pokemon.types">
                        <ion-note class="custom-note">
                          - {{ type.type.name }}
                        </ion-note>
                      </ion-item>
                    </ion-list>
                  </ion-item>
                  <ion-item>
                    <ion-label>Movimientos:</ion-label>
                    <ion-list>
                      <ion-item  class="shape-icon"  *ngFor="let ability of pokemon.abilities">
                        <ion-note class="custom-note">
                          &cir; {{ ability.ability.name }}
                        </ion-note>
                      </ion-item>
                    </ion-list>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
